################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dapr/v17
/TasksTracker.ContainerApps/TasksTracker.TasksManager.Backend.Api/bin/Debug/net6.0
/TasksTracker.ContainerApps/TasksTracker.TasksManager.Backend.Api/obj
/TasksTracker.ContainerApps/.vs/TasksTracker.TasksManager
/TasksTracker.ContainerApps/.vs/TasksTracker.ContainerApps
/TasksTracker.ContainerApps/.vs/ProjectEvaluation
*.sqlite
/.vs/VSWorkspaceState.json
/TasksTracker.ContainerApps/TasksTracker.WebPortal.Frontend.Ui/obj
/DaprCounter/.vs/DaprCounter
/DaprCounter/DaprCounter/bin/Debug/net6.0
/DaprCounter/DaprCounter/obj
/SendMessageToTopic/SendMessageToTopic/bin/Debug/net6.0
/SendMessageToTopic/SendMessageToTopic/obj
/SendMessageToTopic/.vs/SendMessageToTopic/v17/TestStore/0
/DaprSubPub/.vs
/DaprSubPub/order-processor/bin/Debug/net6.0
/DaprSubPub/order-processor/obj
/DaprSubPub/checkout/bin/Debug/net6.0
/DaprSubPub/checkout/obj
